.jump {
  animation: jump 1.5s infinite ease;
}

@keyframes jump {
  0% {
    top: 0;
  }
  50% {
    top: -10px;
  }
  100% {
    top: 0;
  }
}

.coin {
  --coin-size: 60vw;

  position: relative;
  height: var(--coin-size);
  width: var(--coin-size);
}

.coin:active {
  transform: scale(0.98);
  transition: transform 0.3s ease;
}

.coin .front {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-top: 7px solid var(--accent-gold);
  border-left: 7px solid var(--accent-gold);
  border-right: 7px solid var(--button-primary-pressed);
  border-bottom: 7px solid var(--button-primary-pressed);
  border-radius: 50%;
  background: var(--button-primary-default);
  transform: rotate(44deg);
}

.coin .front:before {
  content: "";
  width: 50%;
  height: 50%;
  border-bottom: 5px solid var(--accent-gold);
  border-right: 5px solid var(--accent-gold);
  border-left: 5px solid var(--button-primary-pressed);
  border-top: 5px solid var(--button-primary-pressed);
  border-radius: 50%;
  background: #f0a608;
  z-index: 2;
}

.coin .front .currency {
  overflow: hidden;
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: rotate(-44deg);
  color: var(--button-primary-default);
  text-align: center;
  text-shadow: 0 3px 0 #cb7407;
}

.coin .front .currency span {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 50px;
  color: var(--button-primary-default);
  text-shadow: 0 3px 0 #cb7407;
}

.coin .front .currency:after {
  content: "";
  position: absolute;
  height: 150%;
  width: 40px;
  margin: 20px -65px;
  box-shadow: 50px -23px 0 -10px rgba(255, 255, 255, 0.22),
    85px -10px 0 -16px rgba(255, 255, 255, 0.19);
  transform: rotate(-50deg);
  animation: shine 1.5s infinite ease;
}

@keyframes shine {
  0% {
    margin: 20px -65px;
  }
  50% {
    margin: 35px -85px;
  }
  100% {
    margin: 20px -65px;
  }
}

.shadow {
  width: 50vw;
  height: 20px;
  border-radius: 50%;
  margin-top: 20px;
  background: rgba(0, 0, 0, 0.4);
  animation: swift 1.5s infinite ease;
}

@keyframes swift {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.4;
    transform: scale(0.9);
  }
  100% {
    opacity: 0.8;
  }
}
