.button {
  position: relative;
  top: 0;
  width: 100px;
  margin-bottom: 4px;
  padding: 5px;
  border: none;
  border-radius: var(--border-radius);
  background: var(--button-primary-default);
  box-shadow: 0px 4px 0px var(--button-primary-pressed);
  color: var(--text-primary);
  font-size: 16px;
  line-height: 21px;
  transition: all 0.1s ease;
}

.button:active:not(:disabled) {
  top: 3px;
  box-shadow: 0px 1px 0px var(--button-primary-pressed);
}

.button:disabled {
  opacity: 0.7;
}
