.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.perksList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 50vh;
  overflow-x: scroll;
}

.perksItem {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 10px 20px;
  border: 2px solid var(--stroke-default);
  border-radius: var(--border-radius);
  background-color: var(--background-default);
}

.perksItem h4 {
  margin: 0;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.perkLink::before {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.upButton {
  z-index: 1;
}
