.overlay {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.7);
  animation: overlayShow 0.2s ease-out;
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60%;
  padding: 25px;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  background: var(--background);
  animation: contentShow 0.2s ease-out;
}

.content:focus {
  outline: none;
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

.title {
  font-size: var(--font-size-xl);
  font-weight: 500;
  color: var(--text-primary);
  text-align: center;
  margin: 0;
  margin-bottom: 15px;
}

.description {
  font-size: var(--font-size-md);
  color: var(--text-transparent);
  text-align: center;
  margin: 0;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  border: none;
  border-radius: 100%;
  background-color: var(--background-color-secondary);
  color: var(--text-secondary);
}
