.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.counter {
  align-self: center;
}

.tabsList {
  display: flex;
  gap: 5px;
  border: 1px solid var(--stroke-default);
  border-radius: var(--border-radius);
  margin-bottom: 15px;
  padding: 3px;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.tabsList::-webkit-scrollbar {
  display: none;
}

.trigger {
  position: relative;
  padding: 10px;
  border: none;
  border-radius: calc(var(--border-radius) - 3px);
  background-color: inherit;
  font-size: var(--font-size-md);
  font-weight: 400;
  color: var(--text-primary);
}

.trigger[data-state="active"] {
  background-color: var(--stroke-default);
}

.trigger.indicate::before {
  --d: 12px;

  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: var(--d);
  height: var(--d);
  border-radius: 50%;
  /* TODO tmp */
  background-color: red;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: var(--border-radius);
  overflow-y: scroll;
}

.achievementsList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 45vh;
  width: 100%;
}

.claimButton {
  top: 0;
  width: 100%;
  padding: 5px 10px;
  overflow: hidden;
  color: var(--text-secondary);
}

.claimButton:not(:disabled)::after {
  content: "";
  position: absolute;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  background: linear-gradient(
    to bottom,
    rgba(229, 172, 142, 0),
    rgba(255, 255, 255, 0.5) 50%,
    rgba(229, 172, 142, 0)
  );
  transform: rotateZ(10deg) translate(-5em, 10em);
  animation: sheen 3s forwards;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes sheen {
  100% {
    transform: rotateZ(20deg) translate(1em, -20em);
  }
}

.claimButton:disabled {
  border: 2px solid var(--orange);
  background-color: var(--background-active);
  color: var(--text-primary);
  box-shadow: none;
  opacity: 1;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 5%;
}

.info h4 {
  margin: 0;
  margin-bottom: 5px;
  font-size: var(--font-size-md);
}

.info .description {
  margin: 0;
  text-align: left;
}

.reward {
  white-space: nowrap;
  font-size: var(--font-size-md);
  font-weight: 700;
}
