.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.achievementsList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 55vh;
  overflow-x: scroll;
}

.claimButton {
  position: relative;
  top: 0;
  width: 100%;
  padding: 5px 10px;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--button-primary-default);
  box-shadow: 0px 4px 0px var(--button-primary-pressed);
  transition: all 0.1s ease;
  overflow: hidden;
  color: var(--text-secondary);
}

.claimButton:not(.claimed):active {
  top: 3px;
  box-shadow: 0px 1px 0px var(--button-primary-pressed);
}

.claimButton:not(.claimed)::after {
  content: "";
  position: absolute;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  background: linear-gradient(
    to bottom,
    rgba(229, 172, 142, 0),
    rgba(255, 255, 255, 0.5) 50%,
    rgba(229, 172, 142, 0)
  );
  transform: rotateZ(10deg) translate(-5em, 10em);
  animation: sheen 3s forwards;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes sheen {
  100% {
    transform: rotateZ(20deg) translate(1em, -20em);
  }
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 5%;
}

.info h4 {
  margin: 0;
  margin-bottom: 5px;
  font-size: var(--font-size-lg);
}

.info .description {
  margin: 0;
  text-align: left;
}

.reward {
  white-space: nowrap;
  font-size: var(--font-size-lg);
  font-weight: 700;
}

.claimButton.claimed {
  border: 1px solid var(--button-primary-default);
  background-color: var(--background-active);
  color: var(--text-primary);
  box-shadow: none;
}
