.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: var(--header-height);
  padding: 20px 15px;
}

.logo {
  font-size: var(--font-size-xl);
  text-transform: none;
}

.infoLink {
  border-color: var(--orange);
  background-color: var(--background-active);
  border: 2px solid var(--stroke-default);
  border-radius: var(--border-radius);
  padding: 10px;
  color: var(--text-primary);
}
