.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 15px;
}

.logo {
  font-size: var(--font-size-xl);
  text-transform: none;
}

.info {
  border-color: var(--button-primary-default);
  background-color: var(--background-active);
  border: 2px solid var(--stroke-default);
  border-radius: var(--border-radius);
  padding: 10px;
}
