.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.linkContainer {
  padding: 10px 15px;
  background-color: var(--background-default);
  border-radius: var(--border-radius);
}

.linkHeader {
  margin: 0;
  margin-bottom: 5px;
  font-size: var(--font-size-md);
}

.link {
  font-size: var(--font-size-md);
  color: var(--text-transparent);
}

.buttons {
  padding: 10px 0;
}

.buttons button:not(:last-child) {
  margin-right: 10px;
}

.friendsList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 30vh;
  border-radius: calc(var(--border-radius) - 2px);
  overflow-x: scroll;
}
