.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.days {
    display: flex;
    flex-direction: row;
    gap: 4px;
    flex-wrap: wrap;
    padding: 16px 0;
}

.day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40px;
    height: 40px;
    align-items: center;
    border: 2px solid var(--stroke-default);
    border-radius: var(--border-radius);
    background-color: var(--background-default);
    color: var(--text-primary);
}

.dayClaimed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40px;
    height: 40px;
    align-items: center;
    border: 2px solid var(--button-primary-default);
    border-radius: var(--border-radius);
    background-color: var(--background-active);
    color: var(--text-primary);
    text-decoration-line: line-through;
}

.upButton {
    position: relative;
    z-index: 1;
    top: 0;
    width: 100px;
    padding: 5px;
    border: none;
    border-radius: var(--border-radius);
    background: var(--button-primary-default);
    box-shadow: 0px 4px 0px var(--button-primary-pressed);
    color: var(--text-primary);
    font-size: 16px;
    line-height: 21px;
    transition: all 0.1s ease;
}

.upButton:active:not(:disabled) {
    top: 3px;
    box-shadow: 0px 1px 0px var(--button-primary-pressed);
}

.upButton:disabled {
    opacity: 0.5;
}
