.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.days {
  display: flex;
  flex-direction: row;
  gap: 4px;
  flex-wrap: wrap;
  padding: 16px 0;
}

.day {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40px;
  height: 40px;
  align-items: center;
  border: 2px solid var(--stroke-default);
  border-radius: var(--border-radius);
  background-color: var(--background-default);
  color: var(--text-primary);
}

.dayClaimed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40px;
  height: 40px;
  align-items: center;
  border: 2px solid var(--button-primary-default);
  border-radius: var(--border-radius);
  background-color: var(--background-active);
  color: var(--text-primary);
  text-decoration-line: line-through;
}
