.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}

.coinsContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

/* Define the coin styles */
.fallenCoin {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--gold); /* Gold color */
  animation: fall 10s linear infinite;
  opacity: 0;
}

/* Animate the coins */
@keyframes fall {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    transform: translateY(calc(100vh + 100px));
    opacity: 0;
  }
}

.goldMiningPan {
  position: relative;
  width: 400px;
  height: 250px;
  background-color: #8c6239; /* коричневый цвет дерева */
  border: 10px solid #4d2600; /* более темный коричневый цвет */
  border-radius: 50% 50% 30% 30%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); /* тень для реалистичности */
  transform: perspective(400px) rotateX(20deg) rotateZ(10deg); /* поворот лотка */
  overflow: hidden;
}

.goldMiningPan::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background-color: cornflowerblue; /* более светлый серый цвет для дна лотка */
  border-radius: 45% 45% 25% 25%;
  box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.5); /* внутренняя тень */
  transform: translateZ(20px); /* сдвиг дна вперед */
}

.goldFlakes {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.goldFlake {
  position: absolute;
  background: radial-gradient(
    circle at center,
    #ffd700 30%,
    #ffdf73 60%,
    transparent 90%
  ); /* градиент для реалистичности */
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.5); /* блики на золоте */
  /* animation: float 8s linear infinite; */
}

/* @keyframes float {
  0% {
    transform: translate(-10%, -20%) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translate(110%, 120%) rotate(360deg);
    opacity: 1;
  }
}

.large-gold-nugget {
  position: absolute;
  left: 100px;
  top: 100px;
  width: 100px;
  height: 80px;
  background-image: radial-gradient(
    ellipse at center,
    #ffd700 30%,
    #ffdf73 60%,
    #b8860b 90%
  );
  border-radius: 30% 70% 65% 35% / 60% 50% 50% 40%;
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.8), inset 0 0 10px rgba(0, 0, 0, 0.3);
  transform-origin: bottom center;
  animation: nugget-move 10s ease-in-out infinite;
  z-index: 2;
} */
