body {
  overflow: hidden;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#root {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  /* background: red; */
}

header {
  display: flex;
  flex: 1 1 100%;
  max-height: 60px;
}

main {
  display: flex;
  flex: 10 10 100%;
  flex-direction: column;
  justify-content: space-around;
}

a {
  text-decoration: none;
}
