body {
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    flex: 1 1 100%;
}

footer {
    display: flex;
    flex: 1 1 100%;
}

main {
    display: flex;
    flex: 10 10 100%;
    flex-direction: column;
    justify-content: space-around;
}

a {
    text-decoration: none;
}
